

header
{
	width: 1200px;
	height: 80px;
	margin-left: 70px;
	margin-right: 70px;
	font-family: "Times New Roman", Times, serif;
	color:rgb(228, 228, 228);
	
	background-color: rgb(32, 32, 32);
	padding-left: 20px;
	padding-top: 10px;
}

#simple
{
	font-size: 25px;
	margin-left: 50px;
	position: relative;
	top: 10px;

}

#tagline
{	
	position: relative;
	top: 10px;
	font-size: 12px;
	margin-left: 60px;

}

.hr1
{
	width: 1219px;
	outline-color: rgb(153, 255, 51);
	background-color: rgb(153, 255, 51);
	height: 5px;
	position: relative;
	left: -20px;
	top: -40px;

}

#first
{
	margin-left: 70px;
	background-color: rgb(64, 64, 64);
	width: 1220px;
	height: 290px;
}

#slika
{
	position: relative;
	top: 30px;
	left: 80px;
}

#tekst1
{
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 35px;
	 text-align: center;
	 position: relative;
	 left: 150px;
	 top: -165px;
	 width: 100px;
	 color: rgb(228, 228, 228);
}

#tekst2
{
	font-family: Arial, Helvetica, sans-serif;
	 font-size: 35px;
	 text-align: center;
	 position: relative;
	 left: 555px;
	 top: -165px;
	 width: 100px;
	 color: rgb(228, 228, 228);
}

#tekst3
{
	font-family: Arial, Helvetica, sans-serif;
	 font-size: 22px;
	 color: rgb(228, 228, 228);
	 position: relative;
	 left: 555px;
	 top:-140px;
}


.button
{
	border-radius: 12px;
	background-color: rgb(153, 255, 51);
	position: relative;
	top: -120px;
	left: 550px;
	padding: 6px 14px;
	border: none;
}


#second
{

	margin-left: 70px;
	
	width: 1220px;
	height: 470px;
}

#tekst4
{
	margin-left: 70px;
	margin-top: 45px;
	width: 650px;

}

.hr3
{
	width: 100px;
	outline-color: rgb(153, 255, 51);
	background-color: rgb(153, 255, 51);
	height: 5px;
	position: relative;
	left: -280px;
	top: -11px;
}

.hr2
{
	outline-color: rgb(153, 255, 51);
	background-color: rgb(153, 255, 51);
}

.welcome
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}

.p1
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.p2
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: rgb(160, 160, 160);
}

#lista
{
	list-style-type: square;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: rgb(160, 160, 160);

}

.p3
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: rgb(160, 160, 160);
	position: relative;
	left: 35px;
	top: -70px;
}

.vertical
{
	outline-color: rgb(153, 255, 51);
	background-color: rgb(153, 255, 51);
	width: 8px;
	height: 70px;
	position: relative;
	left: -315px;
	top: 14px;
}

#tekst5
{
	position: relative;
	left: -10px;
}

#tabela
{
	position: relative;
	
	border: none;
	top: -475px;
	right: -750px;
}

.ione
{
	background-color: rgb(64, 64, 64);
	width: 310px;
	height: 55px;
	color: rgb(224, 224, 224);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
}

.itwo
{
	width: 310px;
	height: 90px;
	background-color: rgb(224, 224, 224);
}

.ithree
{
	width: 310px;
	height: 90px;
	background-color: rgb(160, 160, 160);
}

.ifour
{
	width: 310px;
	height: 90px;
	background-color: rgb(224, 224, 224);

}

#slika22
{	
	position: relative;
	border: groove;
	top: 20px;

}

#slika33
{
	position: relative;
	border: groove;
	top: 20px;
}

#slika44
{
	position: relative;
	border: groove;
	top: 20px;
}

#date1
{
	position: relative;
	right: -100px;
	top: -65px;
	color: rgb(96, 96, 96);
	font-size: 13px;
}

#date2
{
	position: relative;
	right: -100px;
	top: -65px;
	color: rgb(96, 96, 96);
	font-size: 13px;
}

#date3
{
	position: relative;
	right: -100px;
	top: -65px;
	color: rgb(96, 96, 96);
	font-size: 13px;
}

#title1
{
	position: relative;
	right: -100px;
	top: -65px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

#title2
{
	position: relative;
	right: -100px;
	top: -65px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	
}

#title3
{
	position: relative;
	right: -100px;
	top: -65px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	
}

#text1
{
	color: rgb(96, 96, 96);
	position: relative;
	right: -100px;
	top: -60px;
	width: 190px;
	font-size: 12px;
	height: 12px;
}

#text2
{
	color: rgb(96, 96, 96);
	position: relative;
	right: -100px;
	top: -60px;
	width: 190px;
	font-size: 12px;
	height: 12px;
}



#text3
{
	color: rgb(96, 96, 96);
	position: relative;
	right: -100px;
	top: -60px;
	width: 190px;
	font-size: 12px;
	height: 12px;
}
#third
{
	margin-left: 70px;
	background-color: rgb(64, 64, 64);
	width: 1220px;
	height: 220px;
}

.hr4
{
	width: 1219px;
	outline-color: rgb(153, 255, 51);
	background-color: rgb(153, 255, 51);
	height: 5px;
	position: relative;
}

#tabela2
{
	margin-left: 70px;
	border: all;
	width: 1220px;
	height: 200px;
}

.iione
{
	width: 200px;
	position: relative;
}

.iitwo
{
	width: 200px;
	position: relative;
	
}

.iithree
{
	width: 180px;
	position: relative;
	
	
}

.iifour
{
	width: 200px;
	position: relative;

	
}

.iifive
{
	width: 200px;
	position: relative;

	
}


.button1
{
	border-radius: 12px;
	background-color: rgb(60, 60, 60);
	position: relative;
	width: 110px;
	height: 30px;
	border: groove;
	border-color: rgb(59, 59, 59);
	text-align: left;
	color:  rgb(224, 224, 224);
	outline-color: rgb(60, 60, 60);

}

.ul1
{
	list-style-type: none;
	position: relative;
	left: -25px;
	color:  rgb(160, 160, 160);
	font-size: 14px;
}

.ul2
{
	list-style-type: none;
	position: relative;
	left: -25px;
	color:  rgb(160, 160, 160);
	font-size: 14px;
}

.ul3
{
	list-style-type: none;
	position: relative;
	left: -25px;
	color:  rgb(160, 160, 160);
	font-size: 14px;
}

.ul4
{
	list-style-type: none;
	position: relative;
	left: -25px;
	color:  rgb(160, 160, 160);
	font-size: 14px;
}


.ul5
{
	list-style-type: none;
	position: relative;
	left: -25px;
	color:  rgb(160, 160, 160);
	font-size: 14px;
}

.copyright
{
	color: rgb(160, 160, 160);
	font-size: 12px;
}

.companyName
{
	color: rgb(224, 224, 224);
}

.design {
	color: rgb(160, 160, 160);
}

.css1 {
	color: rgb(224, 224, 224);
}

.t3
{
	position: relative;
	top: 10px;
}

#nav
{
	position: relative;
	top: -50px;
	background: rgb(27, 27, 27);
	left: 560px;
  	width: 500px;   
  	height: 50px; 
  	border-radius: 19px;

}
.navbar {
    list-style-type: none;
    background-color: #333;

}

.nav1 {
	position: relative;
	top: 13px;
	left: -15px;
    float: left;
    text-align: center;
    border-right:1px solid #bbb;
    width: 90px;
    color: rgb(96, 96, 96);
    border-color: rgb(96, 96, 96);

}
   
#lastli
{
	border-right: none;
}
